:root{
    --mp_col: #282828;
    --mc_col: #141922;
    --sidebar_w: 230px;
    --sidebar_padding: 20px;
}

html{
    font-family: "Signika", sans-serif;
    color: grey;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.debug{
    border: 2px dotted red;
}

button{
    background: none;
    border: none;
    color: currentColor;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body{
    flex-grow: 1;
    display: flex;
}

.media-player{
    height: 90px;
    background-color: var(--mp_col);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    width: var(--sidebar_w);
    background-color: black;
    flex-shrink: 0;
}

.content{
    flex-grow: 1;
    background-color: var(--mc_col);
}

.info{
    display: flex;
    gap: 10px;
    align-items: center;
    width: var(--sidebar_w);
    padding: 0 10px;
}

.song-title{
    color: white;
    font-size: normal;
    font-weight: bold;
}

.song{
    flex-grow: 1;
}

.song-artist{
    color: grey;
    font-size: small;
    font-weight: normal;
}

.album img{
    height: 42px;
    aspect-ratio: 1/1;
    display: block;
    flex-shrink: 0;
}

.info .buttons{
    display: flex;
    gap: 5px;
    color: grey;
    font-size: 12px;
}

.big-player{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
}

.big-player .buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    color: white;
    padding-bottom: 12px;
}

.btn-big{
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0 10px;
}

.time{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.progress{
    width: 90%;
    background-color: rgba(255,255,255,0.5);
    height: 5px;
    border-radius: 9999px;
}

.time span{
    color: white;
    font-size: small;
}

.current-time, .total-time{
    display: flex;
    align-items: center;
}

.small-player{
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    width: var(--sidebar_w);
    padding: 0 10px;
}

.small-player .progress{
    width: 100px;
}

.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar>*{
    padding-left: var(--sidebar_padding);
    padding-right: var(--sidebar_padding);
}

.no-gutter{
    padding: 0;
}

.account{
    margin-top: auto;
}

.home, .search, .library{
    display: flex;
    color: grey;
    align-items: center;
    gap: 5px;
    padding-left: var(--sidebar_padding);
    position: relative;
}

.download, .user{
    display: flex;
    align-items: center;
    gap: 5px;
}

.new-playlist{
    display: flex;
    align-items: center;
    color: grey;
    gap: 5px;
}

.add{
    font-size: 40px;
}

.separate{
    border: 0px;
    height: 1px;
    width: 100%;
    background-color: grey;
}

/* MEDIA QUERIES */
@media screen and (width <= 552px){
    .sidebar{
        width: 50px;
    }
}

@media screen and (width <= 639px){
    .info .buttons{
        flex-direction: column;
    }
}